.api-details {
    padding: 20px;
    margin-left: 270px;
  }
  
  .api-details h2 {
    margin-top: 0;
  }
  
  .api-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .api-details li {
    padding: 5px 0;
    background-color: #f8f9fa;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  